@media only screen and (max-width: 992px) {
  .middle-box{
	  width:80%;
  }
}
@media only screen and (max-width: 544px) {
  .middle-box{
	  width:100%;
  }
}
@media only screen and (max-width: 444px) {
  .middle-box form label{
	  font-size:18px;
  }
}
@media only screen and (max-width: 340px) {
  .middle-box form label{
	  font-size:15px;
  }
}